[submodule "deps/pytrans"]
	path = deps/pytrans
	url = git@gitlab.phys.ethz.ch:tiqi-projects/pytrans2.git
[submodule "deps/qinterp"]
	path = deps/qinterp
	url = https://github.com/carmelom/qinterp.git
[submodule "deps/rectset"]
	path = deps/rectset
	url = https://github.com/carmelom/rectset.git
